<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loginHtml">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/css/font.css}">
        <link rel="stylesheet" th:href="@{/css/xadmin.css}">
        <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    </head>
    <body>
    <h1>信息的管理功能都已实现，如需管理系统的请加qq：1345305701</h1>
    <h1>查看管理员页面：http://134.175.55.216:8080/chen/</h1>
    <h1>用户名:admin 密码:123456</h1>
    </body>
</html>