<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loginHtml">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" tppabs="http://res.layui.com/layui/dist/css/layui.css"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/check.js}"></script>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a th:href="@{/tag/tagList}">返回</a>
              </span>
</div>
<div class="layui-fluid" >
    <div class="layui-row" >
            <div class="layui-form-item">
                <label for="newName" class="layui-form-label">
                    <span class="x-red">*</span>标签名</label>
                <div class="layui-input-inline">
                    <input  type="text" id="newName" name="newName" required="required" autocomplete="off" class="layui-input">
                </div>
                <span id="usernameInfo"></span>
            </div>
            <div class="layui-form-item">
                <button onclick="add()" type="submit" class="layui-btn" lay-submit="" >添加</button>
            </div>
    </div>
</div>
<!--格式提示js-->
<!--<script th:src="@{/js/check.js}"></script>-->
<!--提示修改成功-->
<script type="text/javascript"  th:inline="javascript">
    function add() {
        $.ajax({
            type : "get",
            url: "/chen/tag/submitAdd",
            data: {
                "newName":$("#newName").val(),
            },
            success:function (data) {
                alert(data)
            }
        })
    }
</script>
</body>

</html>