<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.AppraiseMapper">

    <insert id="support" parameterType="Appraise">
        insert into appraise (user_id, topic_id, type, comment_id)
        values (#{userId}, #{topicId}, #{type}, #{commentId});
    </insert>

    <insert id="criticism" parameterType="Appraise">
        insert into appraise (user_id, topic_id, type, comment_id)
        values (#{userId}, #{topicId}, #{type}, #{commentId});
    </insert>

    <select id="getAppraiseList" resultType="Appraise">
        <if test="topicId == 0">
                select * from appraise where user_id = #{userId} and type = #{type};
        </if>
        <if test="topicId != 0">
            select * from appraise where user_id = #{userId} and type = #{type} and topic_id = #{topicId};
        </if>
    </select>

    <select id="getAppraise" resultType="Appraise">
        select * from appraise where user_id = #{userId} and comment_id = #{commentId} and topic_id = #{topicId};
    </select>

    <update id="updateStatus" parameterType="int">
        <if test="status == 1">
            update appraise set status = 0
        </if>
        <if test="status == 0">
            update appraise set status = 1
        </if>
        where id = #{id};
    </update>

</mapper>