<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.CommentMapper">

   <select id="getCommentListByTopicId" resultType="Comment">
       select * from comment where comment_topic_id = #{topicId}
    <if test="floor == 0">
        and reply = 0 order by floor;
    </if>
    <if test="floor != 0">
        and reply != 0 and floor = #{floor} order by child_floor;
    </if>
   </select>

    <select id="getUserById" parameterType="int" resultType="User">
        select * from comment where comment_user_id = #{id};
    </select>

    <select id="getMaxParentCommentFloor" resultType="int">
        select COALESCE(max(floor), 0) from comment where comment_topic_id = #{commentTopicId};
    </select>

    <select id="getMaxChildCommentFloor" resultType="int">
        select max(child_floor) from comment where comment_topic_id = #{commentTopicId} and floor = #{parentFloor};
    </select>

    <insert id="insertComment" parameterType="Comment">
        insert into comment (content, comment_user_id, comment_topic_id, comment_time, floor, reply, child_floor)
        values (#{content}, #{commentUserId}, #{commentTopicId}, #{commentTime}, #{floor}, #{reply}, #{childFloor})
    </insert>

    <update id="updateSupportCount">
        update comment set support_count = support_count + #{count} where id = #{commentId};
    </update>

    <select id="getCommentById" parameterType="int" resultType="Comment">
        select * from comment where id = #{id};
    </select>

    <select id="getUserIdByCommentId" parameterType="int" resultType="int">
        select user.id from user, comment where comment.id = #{commentId} and comment.comment_user_id = user.id;
    </select>
</mapper>