<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.TagMapper">

    <update id="tagCountPlus">
        update tag set topic_count = topic_count + 1 where id = #{id};
    </update>

    <update id="tagCountReduce">
        update tag set topic_count = topic_count - 1 where id = #{id};
    </update>

    <select id="getTagNameById" parameterType="int" resultType="string">
        select tag.name from tag where id = #{id}
    </select>

    <select id="getTagList" resultType="Tag">
        select * from tag;
    </select>

    <select id="getTagListByFuzzyName" resultType="Tag">
        select * from tag where name like concat('%',#{message},'%');
    </select>

    <select id="getTotalTagCount" resultType="int">
        select count(*) from tag;
    </select>

    <update id="summitUpdate">
        update tag set name = #{newName} where id = #{id};
    </update>

    <select id="getTagById" parameterType="int" resultType="Tag">
        select * from tag where id = #{id}
    </select>

    <insert id="insertTag" parameterType="string">
        insert into tag (name) values (#{newName});
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from tag where id = #{id};
    </delete>
</mapper>