<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.TagMapper">

    <select id="getTagNameById" parameterType="int" resultType="string">
        select tag.name from tag where id = #{id}
    </select>

    <select id="getTagList" resultType="Tag">
        select * from tag;
    </select>

    <select id="getTagListByFuzzyName" resultType="Tag">
        select * from tag where name like concat('%',#{message},'%');
    </select>
</mapper>