<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.TopicMapper">

    <select id="getTotalTopicCount" resultType="int">
        select count(*) from topic;
    </select>

    <select id="getTopicList" resultType="Topic">
        select * from topic;
    </select>

    <select id="getTopicByWhich" resultType="Topic">
        select * from topic
        <where>
            <if test="message == 'id'">
                id = #{selectMessage}
            </if>
            <if test="message == 'title'">
                title like concat('%',#{selectMessage},'%')
            </if>
            <if test="message == 'topicUserId'">
                topic_user_id = #{selectMessage}
            </if>
        </where>
        <if test="startTime != null and startTime != '' and endTime != '' and endTime != null" >
            and topic_time BETWEEN #{startTime} AND #{endTime};
        </if>
    </select>

    <select id="getTopicAndUserByWhich" resultMap="topicAddUser">
        select topic.*, user.* from topic, user
        <where>
            <if test="message == 'id'">
                topic.id = #{selectMessage}
            </if>
            <if test="message == 'title'">
                title like concat('%',#{selectMessage},'%')
            </if>
            <if test="message == 'topicUserId'">
                topic_user_id = #{selectMessage}
            </if>
        </where>
        <if test="startTime != null and startTime != '' and endTime != '' and endTime != null" >
            and topic_time BETWEEN #{startTime} AND #{endTime};
        </if>
            and topic.topic_user_id = user.id;
    </select>

    <select id="getTopicByWhichCount" resultType="int">
        select count(*) from topic
        <where>
            <if test="message == 'ti'">
                id = #{selectMessage};
            </if>
            <if test="message == 'title'">
                title like concat('%',#{selectMessage},'%');
            </if>
            <if test="message == 'topicUserId'">
                topic_user_id = #{selectMessage};
            </if>
            <if test="message == 'topicTime'">
                topicTime BETWEEN #{startTime} AND #{endTime};
            </if>
        </where>
    </select>

    <delete id="deleteTopicById" parameterType="int">
        delete from topic where id = #{id};
    </delete>

    <select id="getTopBrowseTopic" resultType="Topic" parameterType="int">
        select * from topic t order by t.browse_count desc limit #{count};
    </select>

    <select id="getTopicById" parameterType="int" resultType="Topic">
        select * from topic where id = #{id};
    </select>

    <select id="getTopicListByUserIdCount" parameterType="int" resultType="int">
        select count(*) from topic where topic_user_id = #{id};
    </select>

    <select id="getUserIdByTopicId" parameterType="int" resultType="int">
        select t.topic_user_id from topic t where id = #{topicId};
    </select>

    <insert id="insertTopic" parameterType="Topic">
        insert into topic (title, content, topic_tag_id, topic_type, topic_user_id, topic_time, topic_picture) values
        (#{title}, #{content}, #{topicTagId}, #{topicType}, #{topicUserId}, #{topicTime}, #{topicPicture})
    </insert>

    <select id="getNearTimeTopic" resultType="Topic" parameterType="int">
        select * from topic order by topic_time DESC limit #{count};
    </select>

    <select id="getTopicListBySelectMessage" resultMap="topicAddUser" parameterType="string">
        select topic.*, user.id as userId, user.username from topic, user
        where (title like concat('%',#{selectMessage},'%') or content like concat('%',#{selectMessage},'%'))
        and topic.topic_user_id = user.id;
    </select>

    <select id="getTopicListBySelectMessageCount" resultType="int" parameterType="string">
        select count(*) from topic where title like concat('%',#{selectMessage},'%') or content like concat('%',#{selectMessage},'%');
    </select>

    <select id="getTopicListByTagId" parameterType="int" resultMap="topicAddUser">
        select topic.*, user.id as userId, user.username from topic, user where topic.topic_tag_id = #{tagId} and topic.topic_user_id = user.id;
    </select>

    <select id="getTopicListByTagIdCount" parameterType="int" resultType="int">
        select count(*) from topic where topic_tag_id = #{tagId};
    </select>

    <resultMap id="topicAddUser" type="Topic">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="topicPicture" column="topic_picture"></result>
        <result property="topicTime" column="topic_time"></result>
        <result property="supportCount" column="support_count"></result>
        <result property="CriticismCount" column="Criticism_count"></result>
        <result property="commentCount" column="comment_count"></result>
        <result property="browseCount" column="browse_count"></result>
        <result property="topicTagId" column="topic_tag_id"></result>
        <result property="topicType" column="topic-type"></result>
        <association property="user" javaType="User">
            <result property="id" column="userId"></result>
            <result property="username" column="username"></result>
        </association>
    </resultMap>
    <select id="getTopicAddUserList" resultMap="topicAddUser">
        select topic.*, user.id as userId, user.username from topic, user where topic.topic_user_id = user.id;
    </select>

    <select id="getTopicListByUserId" resultMap="topicAddUser" parameterType="int">
        select topic.*, user.id as userId, user.username from topic, user where topic_user_id = #{userId} and topic.topic_user_id = user.id;
    </select>

    <update id="OneParamUpdate">
        update topic set
        <if test="message == 'support'">
            support_count = support_count + #{updateParam}
        </if>
        <if test="message == 'browse'">
            browse_count = browse_count + #{updateParam}
        </if>
        <if test="message == 'criticism'">
            criticism_count = criticism_count + #{updateParam}
        </if>
        <if test="message == 'comment'">
            comment_count = comment_count + #{updateParam}
        </if>
        where id = #{topicId};
    </update>
</mapper>