<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.mapper.UserMapper">

    <select id="getAdminPassword" resultType="string">
        select password from user where username = 'admin';
    </select>

    <select id="getTotalUserCount" resultType="int">
        select count(*) from user;
    </select>

    <select id="getUserByUsername" resultType="User" parameterType="string">
        select * from user where username = #{username};
    </select>

    <select id="getUserList" resultType="User">
        select * from user;
    </select>

    <!--传入map不用resultType,跟传入bean一样直接用即可-->
    <select id="getUserListLimit" resultType="User">
        select * from user
    </select>

    <select id="getUserByWhich" resultType="User">
        select * from user
        <where>
            <if test="message == 'id'">
                id = #{selectMessage};
            </if>
            <if test="message == 'username'">
                username like concat('%',#{selectMessage},'%');
            </if>
            <if test="message == 'sexMan'">
                sex = 1;
            </if>
            <if test="message == 'sexWomen'">
                sex = 0;
            </if>
            <if test="message == 'email'">
                email like concat('%',#{selectMessage},'%');
            </if>
        </where>
    </select>

    <select id="getUserByWhichCount" resultType="int">
        select count(*) from user
        <where>
            <if test="message == 'id'">
                id = #{selectMessage};
            </if>
            <if test="message == 'username'">
                username like concat('%',#{selectMessage},'%')
            </if>
            <if test="message == 'sexMan'">
                sex = 1;
            </if>
            <if test="message == 'sexWomen'">
                sex = 0;
            </if>
            <if test="message == 'email'">
                email like concat('%',#{selectMessage},'%');
            </if>
        </where>
    </select>

    <select id="getUserById" resultType="User" parameterType="int">
        select * from user where id = #{id};
    </select>

    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id};
    </delete>

    <update id="updateUserById">
        update user set email=#{email}, username=#{username},
        password=#{password}, sex=#{sex} where id = #{id};
    </update>
    
    <insert id="insertUser">
        insert into user set username = #{username}, password = #{password}, sex = #{sex}, email = #{email};
    </insert>

    <select id="getUserByEmail" resultType="User">
        select * from user where email = #{email};
    </select>

    <update id="topicCountPlus" parameterType="int">
        update user set topic_count = topic_count + 1 where id = #{id};
    </update>

    <update id="commentCountPlus" parameterType="int">
        update user set comment_count = comment_count + 1 where id = #{id};
    </update>

    <update id="browseCountPlus" parameterType="int">
        update user set browse_count = browse_count + 1 where id = #{id};
    </update>

    <update id="supportCountPlus" parameterType="int">
        update user set support_count = support_count + 1 where id = #{id};
    </update>

    <update id="supportCountMinus" parameterType="int">
        update user set support_count = support_count - 1 where id = #{id};
    </update>

    <update id="topicCountMinus" parameterType="int">
        update user set topic_count = topic_count - 1 where id = #{id};
    </update>

    <select id="getHotCommentUser" resultType="User" parameterType="int">
        select * from user order by comment_count DESC limit #{count};
    </select>

    <update id="updateUserLimit">
        update user set username = #{username},
                        secret = #{secret},
                        sex = #{sex},
                        introduction = #{introduction} where id = #{id};
    </update>

    <update id="updateOnlyOne">
        update user set
        <if test="message == 'username'">
            username = #{value}
        </if>
        <if test="message == 'password'">
            password = #{value}
        </if>
        <if test="message == 'email'">
            email = #{value}
        </if>
        <if test="message == 'avatar'">
            avatar = #{value}
        </if>
        <if test="message == 'introduction'">
            introduction = #{value}
        </if>
        <if test="message == 'topicCount'">
            topic_count = #{value}
        </if>
        <if test="message == 'commentCount'">
            comment_count = #{value}
        </if>
        <if test="message == 'rankId'">
            rank_id = #{value}
        </if>
        <if test="message == 'supportCount'">
            support_count = #{value}
        </if>
        <if test="message == 'rankLevel'">
            rank_level = #{value}
        </if>
        <if test="message == 'sex'">
            sex = #{value}
        </if>
        <if test="message == 'browseCount'">
            browse_count = #{value}
        </if>
        <if test="message == 'secret'">
            secret = #{value}
        </if>
        where id = #{id};
    </update>

    <select id="getUserListByMessage" resultType="User">
        select * from user where username like concat('%',#{nameMessage},'%');
    </select>
</mapper>