<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loginHtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>WhiteCat</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/blog.css}" rel="stylesheet" />
    <link th:href="@{/css/me.css}" rel="stylesheet" />
</head>

<body>
<div th:insert="~{commons/commons.html :: top}"></div>

<div class="blog-user"></div>

<div class="blog-body">
    <div class="blog-container">
        <div class="blog-main">
            <div class="home-tips shadow">私信内容</div>

            <div class="blog-main-left animated slideInLeft">

                <div class="flow-default" id="parentArticleList">
                    <!--私信-->
                    <div class="blog-module shadow animated fadeInRight fadeInUp">
                        <a th:href="@{/reply/} + ${user.id}" style="color: #0e8c8c">回复</a>
                        <ul class="message-list" th:each="detail:${detailChat}">
                            <a class="comment-parent" th:href="@{/toOtherPersonal/} + ${user.id}">
                                <img th:src="@{/images/avatar/} + ${user.avatar}"/>
                            </a>
                            <li class="zoomIn article" >
                                <div class="comment-parent">
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <span class="comment-content"  th:utext=" ${detail.content + '<br>' + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp'}"  style="margin-top: 10px"></span>
                                    <span th:text="${#dates.format(detail.time, 'yyyy-MM-dd hh:mm')}" style="color: #0ea432"></span>
                                </div>
                                <hr/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--页脚-->
<div th:insert="~{commons/commons.html :: down}"></div>

<div class="blog-mask animated layui-hide"></div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:inline="javascript">

</script>
</body>

</html>