<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loginHtml">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" th:href="@{/comment/commentList}" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" type="post" th:action="@{/comment/selectSubmit}">
                        <div class="layui-input-inline">
                            <div class="layui-input-inline">
                                选择查找:
                            </div>
                            <div class="layui-input-inline" style="width: 100px">
                                <!-- 选项数据动态添加 -->
                                <select id="buttonId" name="message">
                                    <option value="id" th:selected="${select.getMessage() eq 'id'}">评论id</option>
                                    <option value="commont" th:selected="${select.getMessage() eq 'comment'}">评论内容</option>
                                    <option value="username" th:selected="${select.getMessage() eq 'username'}">评论者</option>
                                    <option value="title" th:selected="${select.getMessage() eq 'title'}">文章标题</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input th:value="${select.getSelectMessage()}" required="required" type="text" name="selectMessage"  placeholder="请输入搜索关键词" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <div class="layui-input-inline">
                        展示数量:
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <input th:value="${select.getShowCount()}" required="required" id="showCount" type="text" name="showCount"  placeholder="展示数目" autocomplete="off" class="layui-input" style="width: 100px">
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <button class="layui-btn" onclick="showCount()"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>评论</th>
                            <th>评论者</th>
                            <th>文章</th>
                            <th>状态</th>
                            <th>操作</th></tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX" th:each="comment:${commentList}">
                            <td th:text="${comment.id}"></td>
                            <td th:text="${comment.content}"></td>
                            <td th:text="${comment.author.username}"></td>
                            <td th:text="${comment.topic.title}"></td>
                            <td class="td-status">
                                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
                            <td class="td-manage">
                                <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                <a title="删除" th:href="@{/comment/deleteComment/} + ${comment.id}" onclick="deleteComment()">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <div>
                            <a class="prev" th:href="@{/comment/lastPage}">&lt;&lt;</a>
                            <a class="num" th:href="@{/comment/toWhichPage/} + ${cutPage.lastPage}" th:text="${cutPage.lastPage}" th:if="${cutPage.lastPage!=0}"></a>
                            <span class="current" th:text="${cutPage.nowPage}"></span>
                            <a class="num" th:href="@{/comment/toWhichPage/} + ${cutPage.nextPage}" th:text="${cutPage.nextPage}" th:if="${cutPage.nowPage != cutPage.getPageCount()}"></a>
                            <a class="next" th:href="@{/comment/nextPage}">&gt;&gt;</a>
                            <a class="num" href="" th:text="共 + ${cutPage.pageCount} + 页"></a>
                            <div class="layui-inline layui-show-xs-block">
                                <input type="text" id="pageCount"  placeholder="页数" autocomplete="off" class="layui-input" style="width: 50px">
                            </div>
                            <div class="layui-inline layui-show-xs-block">
                                <button class="layui-btn" onclick="toWhichPage()"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                            <a class="num" th:text="共 + ${cutPage.totalCount} + 条"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    function toWhichPage() {
        let pageCount = $("#pageCount").val();
        if (pageCount === ""){
            alert("不能为空!")
        }else {
            window.location.href="/chen/comment/toWhichPage/" + $("#pageCount").val()
        }
    }

    function showCount(){
        let showCount = $("#showCount").val();
        if (showCount === ""){
            alert("不能为空!")
        }else {
            window.location.href="/chen/comment/updateShowCount/" + showCount;
        }
    }

    function deleteComment(){
        alert("删除成功！")
    }


    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;


        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-停用*/
    function member_stop(obj,id){
        layer.confirm('确认要停用吗？',function(index){

            if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

            }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
            }

        });
    }

</script>
</html>